<div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded-lg mt-5">
    <h1 class="text-center text-lg font-semibold mb-4 text-gray-800">User Creation Form</h1>
    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        
        <!-- Left Side: Name, Email, and Phone -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">First Name:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="first_name" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('first_name')?.invalid && userForm.get('first_name')?.touched">
                    * Required (Only alphabets)
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Last Name:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="last_name" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('last_name')?.invalid && userForm.get('last_name')?.touched">
                    * Required (Only alphabets)
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">Email:</label>
                <input type="email" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="email" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                    * Enter a valid email
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Mobile Phone:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="mobile_phone" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('mobile_phone')?.invalid && userForm.get('mobile_phone')?.touched">
                    * Enter a valid 10-digit number
                </p>
            </div>
        </div>

        <!-- Right Side: Address, City, Zip, State, Country -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">Address Line 1:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="address_line_1" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('address_line_1')?.invalid && userForm.get('address_line_1')?.touched">
                    * Required (Max 40 characters)
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Address Line 2:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="address_line_2" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">City:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="city" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.touched">
                    * Required (Only alphabets)
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Zipcode:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="zipcode" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('zipcode')?.invalid && userForm.get('zipcode')?.touched">
                    * Enter a valid 6 or 9-digit zip code
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">State:</label>
                <input type="text" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="state" />
                <p class="text-red-500 text-sm" *ngIf="userForm.get('state')?.invalid && userForm.get('state')?.touched">
                    * Required (Only alphabets)
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Country:</label>
                <select class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="country">
                    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                </select>
            </div>
        </div>

        <!-- Gender and Date of Birth (Combined) -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
            <div>
                <label class="block mb-1 text-gray-700">Gender:</label>
                <select class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="gender">
                    <option value="">Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <p class="text-red-500 text-sm" *ngIf="userForm.get('gender')?.invalid && userForm.get('gender')?.touched">
                    * Select a gender
                </p>
            </div>
            <div>
                <label class="block mb-1 text-gray-700">Date of Birth:</label>
                <input type="date" class="w-full p-2 border border-gray-300 rounded focus:ring focus:ring-blue-300" formControlName="dob" [max]="maxDate"/>
                <p class="text-red-500 text-sm" *ngIf="userForm.get('dob')?.invalid && userForm.get('dob')?.touched">
                    * Required
                </p>
            </div>
        </div>

        <!-- Notes -->
        <div class="mb-3">
            <label class="block mb-1 text-gray-700">Notes:</label>
            <textarea class="w-full p-2 border border-black rounded focus:ring focus:ring-blue-300" spellcheck="false" formControlName="notes" placeholder="Add description here"></textarea>
        </div>

        <!-- Agree to Terms and Allow Notifications -->
        <div class="grid grid-cols-2 gap-4 mb-3">
            <div class="flex items-center whitespace-nowrap">
                <input type="checkbox" class="w-4 h-4 border-gray-300 rounded focus:ring-0 focus:outline-none" id="agreeToTerms" formControlName="agreeToTerms"/>
                <label class="text-gray-700" for="agreeToTerms">&nbsp;Agree to Terms</label>
            </div>
            <div class="flex items-center whitespace-nowrap">
                <input type="checkbox" class="w-4 h-4 border-gray-300 rounded focus:ring-0 focus:outline-none" id="allowNotifications" formControlName="allowNotifications"/>
                <label class="text-gray-700" for="allowNotifications">&nbsp;Allow Notifications</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center mt-4">
            <button type="submit" class="w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-600 disabled:bg-gray-400" [disabled]="userForm.invalid">
                Submit
            </button>
        </div>
    </form>
</div>
