header {
    display: block !important;
    visibility: visible !important;
    height: 100px; /* Increased height */
  }
  
  .nga-navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 11px 10px rgba(0, 0, 0, 0.12);
    background-color: #09238d;
    height: 100px; /* Ensure navbar extends */
    min-height: 100px; /* Prevent collapsing */
    display: flex;
    align-items: center; /* Center content vertically */
    padding: 0 20px; /* Ensure proper spacing */
  }
  
  .nga-nav-link {
    color: white;
    border-top: 2px solid #09238d;
    border-bottom: 2px solid #09238d;
    font-weight: 500;
    font-size: 20px; /* Bigger font */
    padding: 15px 20px; /* Increased spacing */
    transition: color 0.3s, border-color 0.3s;
  }
  
 
  
  /* Logo Styling */
  img {
    height: 50px; /* Adjust height */
    width: auto;
    margin-right: 10px;
  }
  