/* Global Styles */
@use 'tailwindcss/base' as *;
@use 'tailwindcss/components' as *;
@use 'tailwindcss/utilities' as *;

/* Custom Styles */
body {
    align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc; /* Tailwind background color */
  color: #2d3748; /* Tailwind text color */
}

/* Form Container */
form {
  max-width: 450px;
  justify-content: center;

  margin: 0 auto;
  
//   background-color: #ffffff;
  border-radius: 0.75rem; /* rounded-lg */
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* shadow-xl */
}

form .space-y-6 {
  margin-bottom: 1.5rem;
}

form p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2b6cb0; /* Tailwind blue-600 */
}

/* Label Styles */
label {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  color: #4a5568; /* Tailwind text-gray-700 */
  margin-bottom: 0.5rem;
}

/* Input Styles */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #e2e8f0; /* Tailwind gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3182ce; /* Tailwind blue-500 */
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5); /* Tailwind blue-400 */
}

/* Error Message Styles */
small {
  display: block;
  margin-top: 0.25rem;
  color: #e53e3e; /* Tailwind red-500 */
  font-size: 0.875rem;
}

small div {
  margin-bottom: 0.25rem;
}

/* Button Styles */
button[type="submit"] {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #3182ce; /* Tailwind blue-500 */
  color: #fff;
  font-weight: 600;
  border-radius: 0.375rem; /* rounded-md */
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

button[type="submit"]:hover {
  background-color: #2b6cb0; /* Tailwind blue-600 */
  transform: translateY(-2px);
}

button[type="submit"]:disabled {
  background-color: #79bafa; /* Tailwind gray-100 */
  cursor: not-allowed;
}

/* Link Styles */
a {
  color: #3182ce; /* Tailwind blue-500 */
  transition: color 0.2s;
}

a:hover {
  color: #2b6cb0; /* Tailwind blue-600 */
}


html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center; /* Horizontally centers the content */
  align-items: center;     /* Vertically centers the content */

}

app-root {
    width: 100%; /* Ensure app-root takes up full width */
  max-width: 1200px; /* Optional: Limit maximum width */
  padding: 20px; /* Optional: Add some padding */
}

p-card {
  width: 100%; /* Make the card take full width of its container */
  max-width: 400px; /* Optional: Limit the card width */
  margin: 0 auto; /* Centers the card */
}

input.ng-invalid.ng-touched {
  border-color: #dc3545; /* Red border for invalid inputs */
}


